---
controllers:
  qbittorrent:
    type: deployment
    pod:
      securityContext:
        fsGroup: 568
        fsGroupChangePolicy: "OnRootMismatch"
      dnsPolicy: "None"
      dnsConfig:
        nameservers:
          - 127.0.0.1
        searches: []
        options:
          - name: ndots
            value: "1"
    containers:
      qbit:
        image:
          repository: ghcr.io/onedr0p/qbittorrent
          tag: 5.0.4
          pullPolicy: IfNotPresent
        resources:
          limits:
            cpu: 3
            memory: 8Gi
          requests:
            cpu: 500m
            memory: 4Gi
        securityContext:
          runAsUser: 568
          runAsGroup: 568

      gluetun:
        dependsOn: qbit
        image:
          repository: ghcr.io/qdm12/gluetun
          tag: v3.40.3
        env:
          - name: FIREWALL_OUTBOUND_SUBNETS
            value: "10.0.0.0/8"
          - name: FIREWALL_INPUT_PORTS
            value: 8080
          #TESTING
          # - name: DNS_ADDRESS
          #   valueFrom:
          #     secretKeyRef:
          #       name: qbittorrent-secret
          #       key: vpn_dns_ip
          - name: BLOCK_MALICIOUS
            value: off
          - name: BLOCK_SURVEILLANCE
            value: off
          - name: BLOCK_ADS
            value: off
          #TILL
          - name: VPN_TYPE
            value: wireguard
          - name: VPN_INTERFACE
            value: wg0
          - name: WIREGUARD_ENDPOINT_PORT
            value: 51590
          - name: VPN_SERVICE_PROVIDER
            valueFrom:
              secretKeyRef:
                name: qbittorrent-secret
                key: vpn_provider
          - name: WIREGUARD_PRIVATE_KEY
            valueFrom:
              secretKeyRef:
                name: qbittorrent-secret
                key: wg_priv_key
          - name: WIREGUARD_ADDRESSES
            valueFrom:
              secretKeyRef:
                name: qbittorrent-secret
                key: wg_addresses
          - name: SERVER_CITIES
            valueFrom:
              secretKeyRef:
                name: qbittorrent-secret
                key: vpn_provider_cities
        securityContext:
          capabilities:
            add:
              - NET_ADMIN
service:
  qbit:
    controller: qbittorrent
    ports:
      http:
        port: 8080
  # p2p:
  #   controller: qbittorrent
  #   type: LoadBalancer
  #   ports:
  #     tcp:
  #       port: 32344
  #       protocol: TCP
  #     udp:
  #       port: 32344
  #       protocol: UDP
  #   annotations:
  #     metallb.universe.tf/allow-shared-ip: 10.20.110.11
  #     metallb.universe.tf/ip-allocated-from-pool: external
  #     metallb.universe.tf/loadBalancerIPs: 10.20.110.11

ingress:
  qbit:
    className: "nginx-internal"
    hosts:
      - host: qbittorrent.bukla.hu
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: qbit
              port: http
    tls:
      - hosts:
          - qbittorrent.bukla.hu
        secretName: wildcard-bukla-tls
persistence:
  config:
    existingClaim: qbittorrent-conf
    globalMounts:
      - path: /config
  torrent:
    type: nfs
    server: 10.20.0.21
    path: /mnt/tank/torrent
    globalMounts:
      - path: /torrent
  vault:
    type: nfs
    server: 10.20.0.21
    path: /mnt/tank/vault/temp
    globalMounts:
      - path: /vault


    #   volumeMounts:
    #   - mountPath: /var/www/html
    #     name: site-data
    #     subPath: html
    # volumes:
    # - name: site-data
    #   persistentVolumeClaim:
    #     claimName: my-lamp-site-data

# persistence:
#   # Configure the main configuration storage location
#   config:
#     existingClaim: qbittorrent-config
#     advancedMounts:
#       main:
#         main:
#           - path: /config