---
controllers:
    filebrowser:
      type: statefulset
      containers:
        main:
          image:
            repository: docker.io/filebrowser/filebrowser
            tag: v2.50.0
            pullPolicy: IfNotPresent

service:
  # Configure a service for the main application
  app:
    controller: filebrowser
    type: ClusterIP
    ports:
      http:
        port: 80

ingress:
  # Configure an Ingress for the main application
  app:
    className: "nginx-external"
    hosts:
      - host: file.bukla.hu
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - file.bukla.hu
        secretName: wildcard-bukla-tls

persistence:
  database:
    existingClaim: filebrowser-database
    globalMounts:
      - path: /database
  config:
    type: configMap
    name: filebrowser-config
    advancedMounts:
      filebrowser: 
        main: 
          - path: /.filebrowser.json
            readOnly: false
            subPath: config.yaml
  data:
    type: nfs
    server: 10.20.0.21
    path: /mnt/tank/media/filebrowser
    globalMounts:
      - path: /srv

configMaps:
      config:
        enabled: true
        data:
          config.yaml: |
            {
              "port": 80,
              "baseURL": "",
              "address": "",
              "log": "stdout",
              "database": "/database/filebrowser.db",
              "root": "/srv"
            }