---
defaultPodOptions:
  securityContext:
    runAsUser: 911
    runAsGroup: 911
    fsGroup: 911
    fsGroupChangePolicy: "OnRootMismatch"
    # supplementalGroups:
    #   - 65539

controllers:
  prowlarr:
    type: deployment
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/prowlarr
          tag: 2.3.1.5238
          pullPolicy: IfNotPresent
service:
  app:
    controller: prowlarr
    ports:
      http:
        port: 9696

ingress:
  app:
    className: "nginx-internal"
    hosts:
      - host: prowlarr.bukla.hu
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - prowlarr.bukla.hu
        secretName: wildcard-bukla-tls
persistence:
  config:
    existingClaim: prowlarr-conf
    globalMounts:
      - path: /config
