---
defaultPodOptions:
  securityContext:
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: "OnRootMismatch"
    supplementalGroups:
      - 65539

controllers:
  bazarr:
    type: deployment
    # type: statefulset
    # replicas: 3
    # statefulset:
    #   volumeClaimTemplates:
    #   - name: "storage"
    #     globalMounts:
    #       - path: /config
    #     accessMode: "ReadWriteOnce"
    #     size: "1Gi"
    #     storageClass: "nfs-csi"
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/bazarr
          tag: 1.5.3
          pullPolicy: IfNotPresent
service:
  app:
    controller: bazarr
    ports:
      http:
        port: 6767

ingress:
  app:
    className: "nginx-internal"
    hosts:
      - host: bazarr.bukla.hu
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - bazarr.bukla.hu
        secretName: wildcard-bukla-tls
persistence:
  config:
    existingClaim: bazarr-conf
    globalMounts:
      - path: /config
  torrent:
    type: nfs
    server: 10.20.0.21
    path: /mnt/tank/torrent
    globalMounts:
      - path: /torrent
  tmp:
    type: emptyDir