---
defaultPodOptions:
  securityContext:
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: "OnRootMismatch"
    supplementalGroups:
      - 65539

controllers:
  readarr:
    type: deployment
    containers:
      app:
        image:
          repository: linuxserver/readarr
          tag: 0.4.18-develop
          pullPolicy: IfNotPresent
service:
  app:
    controller: readarr
    ports:
      http:
        port: 8787

ingress:
  app:
    className: "nginx-internal"
    hosts:
      - host: readarr.bukla.hu
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - readarr.bukla.hu
        secretName: wildcard-bukla-tls
persistence:
  config:
    existingClaim: readarr-conf
    globalMounts:
      - path: /config
  torrent:
    type: nfs
    server: 10.20.0.21
    path: /mnt/tank/torrent
    globalMounts:
      - path: /torrent