controller:
  kind: DaemonSet
  extraArgs:
    # default-ssl-certificate: ""
    enable-ssl-passthrough: "true"
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
  service:
    externalTrafficPolicy: Local
    annotations:
      metallb.universe.tf/allow-shared-ip: 10.20.110.10
      metallb.universe.tf/ip-allocated-from-pool: external
      metallb.universe.tf/loadBalancerIPs: 10.20.110.10
  config:
    annotations-risk-level: Critical
    enable-real-ip: "true"
    enable-underscores-in-headers: "true"
    server-tokens: "false"
    allow-snippet-annotations: "true"
    use-forwarded-headers: "true"
    use-proxy-protocol: "true"
    proxy-real-ip-cidr: "127.0.0.1/32"
    log-format-escape-json: "true"
    log-format-upstream: '{"timestamp": "$time_iso8601", "requestID": "$req_id", "proxyUpstreamName":"$proxy_upstream_name", "proxyAlternativeUpstreamName": "$proxy_alternative_upstream_name","upstreamStatus": "$upstream_status", "upstreamAddr": "$upstream_addr","httpRequest":{"requestMethod": "$request_method", "requestUrl": "$host$request_uri", "status": "$status","requestSize": "$request_length", "responseSize": "$upstream_response_length", "userAgent": "$http_user_agent", "remoteIp": "$remote_addr", "referer": "$http_referer", "latency": "$upstream_response_time s", "protocol":"$server_protocol"}}'
  ingressClassResource:
    name: nginx-external
    controllerValue: k8s.io/ingress-nginx-external
  ingressClass: external-nginx
  # tolerations:
  #  - key: "HAsrv"
  #    operator: "Equal"
  #    value: "true"
  #    effect: "NoExecute"
podSecurityPolicy:
  enabled: false
