global:
  domain: argocd.bukla.hu
server:
  pdb:
    enabled: true
  replicas: 1
  ingress:
    ingressClassName: nginx-internal
    https: true
    enabled: true
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    hostname: argocd.bukla.hu
    extraTls:
      - hosts:
        - argocd.bukla.hu
        secretName: wildcard-bukla-tls
configs:
  params:
    controller.sync.timeout.seconds: 240
  rbac:
    policy.csv: | 
      g, authentik Admins, role:admin
  cm:
    create: true
    url: https://argocd.bukla.hu
    oidc.config: |
      name: Authentik
      issuer: https://auth.bukla.hu/application/o/argocd/
      clientID: oU1vXwPUBb2lxv9QvLTaLIc3na2lpkgVbsAaPdky
      clientSecret: $dex.authentik.clientSecret
      requestedIDTokenClaims:
        groups:
          essential: true
      requestedScopes:
        - openid
        - profile
        - email
