defaultPodOptions:
  securityContext:
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: "OnRootMismatch"
    supplementalGroups:
      - 65539

controllers:
  sonarr:
    type: statefulset
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/sonarr
          tag: 4.0.16.2943
          pullPolicy: IfNotPresent
service:
  app:
    controller: sonarr
    ports:
      http:
        port: 8989
ingress:
  app:
    className: "nginx-internal"
    hosts:
      - host: sonarr.bukla.hu
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - sonarr.bukla.hu
        secretName: wildcard-bukla-tls

persistence:
  config:
    existingClaim: sonarr-conf
    globalMounts:
      - path: /config
  torrent:
    type: nfs
    server: 10.20.0.21
    path: /mnt/tank/torrent
    globalMounts:
      - path: /torrent
