talosconfig
talos-cluster-vmtalcp01.raymol.com.yaml
talos-cluster-vmtalcp02.raymol.com.yaml
talos-cluster-vmtalcp03.raymol.com.yaml
talos-cluster-vmtalwn01.raymol.com.yaml
talos-cluster-vmtalwn02.raymol.com.yaml
