talos-cluster-vmtalcp01.bukla.hu.yaml
talos-cluster-vmtalcp02.bukla.hu.yaml
talos-cluster-vmtalcp03.bukla.hu.yaml
talos-cluster-vmtalwn01.bukla.hu.yaml
talos-cluster-vmtalwn02.bukla.hu.yaml
talosconfig
