---
# defaultPodOptions:
#   securityContext:
#     runAsUser: 568
#     runAsGroup: 568
#     fsGroup: 568
#     fsGroupChangePolicy: "OnRootMismatch"
#     supplementalGroups:
#       - 65539

controllers:
    pdfstirling:
      type: statefulset
      containers:
        main:
          image:
            repository: frooodle/s-pdf
            tag: 2.1.4
            pullPolicy: IfNotPresent

service:
  # Configure a service for the main application
  app:
    controller: pdfstirling
    type: ClusterIP
    ports:
      http:
        port: 8080

ingress:
  # Configure an Ingress for the main application
  app:
    annotations:
      nginx.ingress.kubernetes.io/proxy-body-size: "100M"
    className: "nginx-internal"
    hosts:
      - host: pdf.bukla.hu
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - pdf.bukla.hu
        secretName: wildcard-bukla-tls
persistence:
  # trainingData:
  #   type: emptyDir
  #   advancedMounts:
  #     pdfstirling:
  #       - path: /usr/share/tessdata
  config:
    existingClaim: pdfstirling-conf
    globalMounts:
      - path: /configs

