defaultPodOptions:
  securityContext:
    runAsUser: 568
    runAsGroup: 568
    fsGroup: 568
    fsGroupChangePolicy: "OnRootMismatch"
    supplementalGroups:
      - 65539

controllers:
  radarr:
    type: deployment
    containers:
      app:
        image:
          repository: ghcr.io/home-operations/radarr
          tag: 6.1.0.10316
          pullPolicy: IfNotPresent
service:
  app:
    controller: radarr
    ports:
      http:
        port: 7878
ingress:
  app:
    className: "nginx-internal"
    hosts:
      - host: radarr.bukla.hu
        paths:
          - path: /
            pathType: Prefix
            service:
              identifier: app
              port: http
    tls:
      - hosts:
          - radarr.bukla.hu
        secretName: wildcard-bukla-tls
persistence:
  config:
    existingClaim: radarr-conf
    globalMounts:
      - path: /config
  torrent:
    type: nfs
    server: 10.20.0.21
    path: /mnt/tank/torrent
    globalMounts:
      - path: /torrent
