envFrom:
  - secretRef:
      name: github-auth-token

renovate:
  # -- Inline global renovate config.json
  # See https://docs.renovatebot.com/self-hosted-configuration
  config: |
    {
      "platform": "github",
      "autodiscover": false,
      "printConfig": true,
      "repositories": ["narwhal99/argocd"]
    }
